body {
 overflow: hidden;
}

h1 {
  padding: 0;
  margin-top: 0;
}

h3, h4, h5 {
  text-align: left;
}

h6 {
  padding: 0;
  margin-top: 0;
  font-size: 15px;
}

span {
  display: inline-block;
}

.active span {
  display: inline;
}

.carousel-inner > .item.next,
.carousel-inner > .item.active.right {
  left: 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.carousel-inner > .item.prev,
.carousel-inner > .item.active.left {
  left: 0;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0%, -100%, 0);
}

.carousel-control.right {
    transform: rotate(90deg);
    height: 215vh;
    width: 4%;
    margin-top: -6.5%;
    margin-right: 50%;
    background-color: rgba(0,0,0,0.7);
}

.carousel-control.left {
    transform: rotate(90deg);
    height: 94vw;
    width: 4%;
    margin-left: 44.7%;
    margin-top: -55%;
    background-color: rgba(0,0,0,0.7);
}

.item1 {
  background-image: url("../img/background.jpg");
  height: 100vh;
}

.item2 {
  background-image: url("../img/background_2.jpg");
  height: 100vh;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 0;
}

.icon {
  margin-top: 20px;
}

.icon2 {
  margin-top: 20px;
  -webkit-filter: invert();
}

.name-box1 {
  margin-top: 500px; 
  margin-left: 3%;
  width: 50%;
  height: 6vh;
  position: relative;
  background-color: rgba(255,255,255,0.8);
  border: solid 4px #9EAFC1;
}

.name-box2 {
  margin-top: 500px; 
  margin-left: 3%;
  width: 50%;
  height: 6vh;
  position: relative;
  background-color: rgba(22,107,200,0.8);
  border: solid 4px #166BC8;
}

.info-square1 {
  margin-top: 200px; 
  margin-left: 3%;
  width: 40%;
  height: 350px;
  position: relative;
  background-color: #fff;
  border: solid 1px #fff;
  border-radius: 5px;
}

.info-square2 {
  margin-top: 200px;
  margin-left: 3%;
  width: 40%;
  height: 350px;
  position: relative;
  background-color: rgba(22,107,200,0.8);
  border: solid 1px #fff;
  border-radius: 5px;
}

.student {
  zoom: 27%;
  padding-right: 15%;
  z-index: -1;
  position: relative;

}

.logo {
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-size: 1500px;
  margin-left: 10%;
  margin-top: -1800px
}

.side-bar {
  background-color: #000;
  width: 18.15%;
  height: 100vh;
  margin-left: -1.5%;
}

.carousel-indicators .active {
  width: 130px;
  height: 20px;
  margin: 20px;
  background-color: #fff;
  margin: auto;
  color: #000
}

.carousel-indicators li {
  display: block;
  width: 20px;
  height: 20px;
  margin: auto;
  text-indent: 0px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 1s;
  color: #fff;
  overflow: hidden;

}

.carousel-indicators li:hover{
  background-color: #fff;
  width: 130px;
  color: #000;

}

li:hover > span {
  display: inline;
}